<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Nebuarko Payroll</title>

       <!-- CSS -->
       <link rel="stylesheet" href="/css/styles.css">

       <!-- Fontawesome Icons -->
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
              integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
              crossorigin="anonymous" />



</head>

<body>
       <nav class="navbar navbar-expand-lg navbar-light bg-primary p-4">
              <div class="container-fluid">
                     <a class="navbar-brand" href="/">
                            <img src="/images/cover.png" alt="logo">
                     </a>
                     <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav m-auto mb-2 mb-lg-0 text-white">
                                   <li class="nav-item">
                                          <% if (page_name==='dashboard' ) { %>
                                                 <a class="nav-link active" aria-current="page"
                                                        href="/dashboard">Dashboard</a>
                                                 <%} else { %>
                                                        <a class="nav-link" aria-current="page"
                                                               href="/dashboard">Dashboard</a>
                                                        <%}%>

                                   </li>
                                   <li class="nav-item">
                                          <% if (page_name==='payroll' ) { %>
                                                 <a class="nav-link active" href="/payroll">Payroll</a>
                                                 <%} else { %>
                                                        <a class="nav-link" href="/payroll">Payroll</a>
                                                        <%}%>
                                   </li>

                                   <li class="nav-item">
                                          <% if (page_name==='payslip' ) { %>
                                                 <a class="nav-link active" href="/payslip">Payslip</a>
                                                 <%} else { %>
                                                        <a class="nav-link" href="/payslip">Payslip</a>
                                                        <%}%>
                                   </li>
                                   <li class="nav-item">
                                          <% if (page_name==='bankadvice' ) { %>
                                                 <a class="nav-link active" href="/bankadvice">Bank
                                                        Advice</a>
                                                 <%} else { %>
                                                        <a class="nav-link" href="/bankadvice">Bank
                                                               Advice</a>
                                                        <%}%>
                                   </li>
                                   <li class="nav-item">
                                          <% if (page_name==='tier1' ) { %>
                                                 <a class="nav-link active" href="/tier1">Tier 1
                                                        Returns</a>
                                                 <%} else { %>
                                                        <a class="nav-link" href="/tier1">Tier 1
                                                               Returns</a>
                                                        <%}%>
                                   </li>
                                   <li class="nav-item">
                                          <% if (page_name==='tier2' ) { %>
                                                 <a class="nav-link active" href="/tier2">Tier 2
                                                        Returns</a>
                                                 <%} else { %>
                                                        <a class="nav-link" href="/tier2">Tier 2
                                                               Returns</a>
                                                        <%}%>
                                   </li>
                                   <li class="nav-item">
                                          <% if (page_name==='paye' ) { %>
                                                 <a class="nav-link active" href="/paye">Paye Returns</a>
                                                 <%} else { %>
                                                        <a class="nav-link" href="/paye">Paye Returns</a>
                                                        <%}%>
                                   </li>
                            </ul>
                            <div class="action">
                                   <div class="profile">
                                          <img src="/images/cover.png" alt="">
                                   </div>
                                   <div class="menu">
                                          <h3>Company Name <br> <span>BOX KN 337, KANESHIE, ACCRA</span>
                                          </h3>
                                          <ul>
                                                 <li><i class="fas fa-user"></i><a href="#">Profile
                                                               Settings</a></li>
                                                 <li><i class="fas fa-users"></i><a href="#">Contact
                                                               Us</a></li>
                                                 <li><i class="fas fa-sign-out-alt"></i><a href="#">Logout</a></li>
                                          </ul>
                                   </div>
                            </div>
                     </div>
              </div>
       </nav>