<%- include('partials/header'); -%>

       <div class="dashboard-section">
              <div class="container-fluid">
                     <div class="row">
                            <div class="col">
                                   <div class="container-fluid px-4 pt-4">
                                          <h5>Dashboard</h5>
                                   </div>

                                   <!-- #####################################
                                                        Analysis Cards
                                          ####################################### -->
                                   <div class="main-content">
                                          <div class="row">
                                                 <!-- ##### Total Employees #####-->
                                                 <div class="col-lg-3 col-md-6">
                                                        <div class="box">
                                                               <div class="content-title">
                                                                      <h4>Total Employees</h4>
                                                               </div>
                                                               <div class="content-info">
                                                                      <div class="content-info-conter">
                                                                             33
                                                                      </div>
                                                                      <i class="fas fa-users"></i>
                                                               </div>
                                                        </div>
                                                 </div>

                                                 <!-- ##### Avg. Basic Salary #####-->
                                                 <div class="col-lg-3 col-md-6">
                                                        <div class="box box-hover">
                                                               <div class="content-title">
                                                                      <h4>Avg. Basic Salary</h4>
                                                               </div>
                                                               <div class="content-info">
                                                                      <div class="content-info-conter">
                                                                             GHc 43.00
                                                                      </div>
                                                                      <i class="fab fa-think-peaks"></i>
                                                               </div>
                                                        </div>
                                                 </div>

                                                 <!-- ##### Avg. Paye #####-->
                                                 <div class="col-lg-3 col-md-6">
                                                        <div class="box box-hover">
                                                               <div class="content-title">
                                                                      <h4>Avg. Paye</h4>
                                                               </div>
                                                               <div class="content-info">
                                                                      <div class="content-info-conter">
                                                                             Ghc 73.00
                                                                      </div>
                                                                      <i class="fas fa-code-branch"></i>
                                                               </div>
                                                        </div>
                                                 </div>

                                                 <!-- ##### Avg. Net Salary #####-->
                                                 <div class="col-lg-3 col-md-6">
                                                        <div class="box box-hover">
                                                               <div class="content-title">
                                                                      <h4>Avg. Net Salary</h4>
                                                               </div>
                                                               <div class="content-info">
                                                                      <div class="content-info-conter">
                                                                             Ghc 33.00
                                                                      </div>
                                                                      <i class="fas fa-money-bill-wave"></i>
                                                               </div>
                                                        </div>
                                                 </div>
                                          </div>

                                          <div class="row graph box">
                                                 <div id="chart"></div>
                                                 <div class="col">

                                                 </div>

                                          </div>
                                   </div>

                            </div>
                     </div>
              </div>
       </div>



       <%- include('partials/footer'); -%>