<%- include('partials/header'); -%>
       <div>
              <div class="p-5">
                     <!-- #############################################
                                    Section 1
                     ############################################## -->
                     <section class="top-content bb d-flex justify-content-between">
                            <div class="logo">
                                   <img class="img-fluid" src="/public/images/cover.png" alt="Company-logo">
                            </div>
                            <div class="top-center">
                                   <p>Payslip</p>
                            </div>
                            <div class="top-left">
                                   <div>
                                          <p class="company-heading">Company Name</p>
                                   </div>
                                   <div class="position-relative">
                                          <p class="address">Company Address</p>
                                          <p class="phone">Company Phone Number </p>

                                   </div>
                            </div>
                     </section>

                     <!-- ##################################################
                                     Section 2
                     #################################################### -->
                     <section class="company-info mt-1">
                            <div class="row extra-info pt-1">
                                   <div class="col-12">
                                          <p class="company-heading">Employee Details</p>
                                   </div>
                            </div>
                            <!-- Employee Name & Tin No. -->
                            <div class="row">
                                   <div class="col-3">
                                          <p class="company-subheading">Employee Name</p>
                                   </div>
                                   <div class="col-4">
                                          <p class="company-content">Michael Nana Boateng Adams</p>
                                   </div>
                                   <div class="col-2">
                                          <p class="company-subheading">Tin No.</p>

                                   </div>
                                   <div class="col-3">
                                          <p class="company-content">2343445644566655</p>

                                   </div>

                            </div>
                            <!-- Staff Id & Position -->
                            <div class="row">
                                   <div class="col-3">
                                          <p class="company-subheading">Staff ID</p>
                                   </div>
                                   <div class="col-3">
                                          <p>23435</p>
                                   </div>
                                   <div class="col-3">
                                          <p class="company-subheading">Position</p>
                                   </div>
                                   <div class="col-3">
                                          <p class="company-content">Web Developer</p>
                                   </div>
                            </div>
                            <!-- SSF & Bank Name -->
                            <div class="row">
                                   <div class="col-3">
                                          <p class="company-subheading">Bank Name</p>

                                   </div>
                                   <div class="col-4">
                                          <p class="company-content">First National Bank</p>

                                   </div>
                                   <div class="col-2">
                                          <p class="company-subheading">SSF No.</p>

                                   </div>
                                   <div class="col-3">
                                          <p class="company-content">2343445646655</p>

                                   </div>
                            </div>
                            <!-- Bank A/C & Date -->
                            <div class="row">
                                   <div class="col-3">
                                          <p class="company-subheading">Bank A/C No.</p>

                                   </div>
                                   <div class="col-4">
                                          <p class="company-content">7564574674556</p>

                                   </div>
                                   <div class="col-2">
                                          <p class="company-subheading">Date</p>

                                   </div>
                                   <div class="col-3">
                                          <p class="company-content">2nd December, 2021</p>

                                   </div>
                            </div>
                     </section>

                     <!-- ####################################################
                                     Section 3
                     #################################################### -->
                     <section class="list-area mt-3">
                            <!-- Earnings total -->
                            <table class="table">
                                   <thead>
                                          <tr>
                                                 <td>DESCRIPTION</td>
                                                 <td>EARNINGS</td>
                                                 <td>DEDUCTIONS</td>
                                          </tr>

                                   </thead>
                                   <tbody>
                                          <tr>
                                                 <td>BASIC SALARY</td>
                                                 <td>1500</td>
                                                 <td></td>

                                          </tr>
                                          <tr>
                                                 <td>TAXABLE ALLOWANCE</td>
                                                 <td>200</td>
                                                 <td></td>

                                          </tr>
                                          <tr>
                                                 <td>NON-TAXABLE ALLOWANCE</td>
                                                 <td>-</td>
                                                 <td></td>

                                          </tr>
                                          <tr>
                                                 <td>PAYE INCOME TAX</td>
                                                 <td></td>
                                                 <td>1500</td>

                                          </tr>
                                          <tr>
                                                 <td>SSF(5.5%)</td>
                                                 <td></td>
                                                 <td>200</td>

                                          </tr>
                                          <tr>
                                                 <td>OTHER DEDUCTIONS</td>
                                                 <td></td>
                                                 <td>-</td>

                                          </tr>
                                          <tr>
                                                 <td>TOTAL</td>
                                                 <td>848</td>
                                                 <td>848</td>

                                          </tr>
                                   </tbody>
                            </table>

                            <!-- NET PAY total -->
                            <table class="table">
                                   <tbody>
                                          <tr>
                                                 <td class="company-heading">NET PAY (GHC)</td>
                                                 <td class="company-heading">23,00</td>
                                          </tr>

                                   </tbody>
                            </table>
                     </section>

                     <!-- ##############################################
                                     Section 4
                     ############################################## -->
                     <section class="signature">
                            <!-- Prepared by -->
                            <div class="row">
                                   <div class="col-6">
                                          <p>PREPARED BY;</p>
                                   </div>
                                   <div class="col-6">
                                          <p>NANA EBURAKO</p>
                                   </div>
                            </div>
                            <!-- DESIGNATION by -->
                            <div class="row">
                                   <div class="col-6">
                                          <p>DESIGNATION BY;</p>
                                   </div>
                                   <div class="col-6">
                                          <p>FINANCIAL MANAGER</p>
                                   </div>
                            </div>
                            <br>
                            <!-- STAMP/SIGNATURE by -->
                            <div class="row">
                                   <div class="col-6">
                                          <p>STAMP/SIGNATURE</p>
                                   </div>
                                   <div class="col-6">
                                          <p>___________________________________</p>
                                   </div>
                            </div>
                            <!-- DATE-->
                            <div class="row">
                                   <div class="col-6">
                                          <p>DATE</p>
                                   </div>
                                   <div class="col-6">
                                          <p> 2nd December, 2021</p>
                                   </div>
                            </div>
                     </section>
              </div>
       </div>

       <%- include('partials/footer'); -%>