<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Document</title>

       <!-- #######################
              Bootstrap CSS
       ############################# -->
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">

       <style>
              .page {
                     background: white;
                     display: block;
                     margin: 0 auto;
                     position: relative;
              }

              .page[size="A4"] {
                     width: 21cm;
                     height: 29.7cm;
                     overflow: hidden;
              }

              .head-table {
                     border: 1px solid black;
                     margin: auto;
              }

              .body-table,
              .body-row,
              .body-head,
              .body-data {
                     border: 1px solid black;
                     /* width: 100%; */
              }

              .company-heading {
                     font-size: 20px;
                     color: darkcyan;
              }
       </style>
</head>

<body style="background: darkgray">


       <div class="my-5 page" size='A4'>
              <div class="p-5">
                     <div class="row">
                            <table class="head-table">
                                   <tr>
                                          <th scope="col" class="px-3 py-2 text-center company-heading">{{CompanyName}}
                                          </th>
                                   </tr>
                                   <tr>
                                          <th class="px-3 py-2 text-center company-heading">{{CompanyAddress}}</th>
                                          <th class="px-3 py-2 text-center">ER No.</th>
                                   </tr>
                                   <tr>
                                          <td class="px-3 py-2 text-center company-heading"> SSNIT Tier 1 -(3.5%)
                                                 Contribution Returns
                                          </td>
                                          <td class="px-3 py-2 text-center company-heading">{{CompanyTin}}</td>
                                   </tr>
                                   <tr>
                                          <td class="px-3 py-2 text-center"> For the Month of:</td>
                                          <th class="px-3 py-2 company-heading">{{Period}}</th>
                                   </tr>

                            </table>
                     </div>
                     <br><br>

                     <div class="row">
                            <div class="col">
                                   <table class="body-table" style="width: 100%;">
                                          <thead class="bg-primary">
                                                 <tr class="body-row">
                                                        <th scope="col" class="px-2 body-head text-white">Employee Name
                                                        </th>
                                                        <th scope="col" class="px-2 body-head text-white">Staff ID</th>
                                                        <th scope="col" class="px-2 body-head text-white">Bank Account
                                                               Number</th>
                                                        <th scope="col" class="px-2 body-head text-white">Amount
                                                               <br><span class="currency">(Gh₵)</span>
                                                        </th>
                                                 </tr>
                                          </thead>
                                          <tbody>
                                                 {{#Emp}}
                                                 <tr class="body-row">
                                                        <td class="body-data">
                                                               {{Employee_name}}
                                                        </td>
                                                        <td class="body-data">
                                                               {{Staff_id}}
                                                        </td>
                                                        <td class="body-data">
                                                               {{Bank_account_number}}
                                                        </td>
                                                        <td class="body-data">
                                                               {{Tier1_Returns}}
                                                        </td>
                                                 </tr>
                                                 {{/Emp}}
                                                 <tr>
                                                        <td> </td>
                                                        <td> </td>
                                                        <th scope="col" class="company-heading body-head">
                                                               Total</th>
                                                        <th scope="col" class="company-heading body-head">
                                                               {{totalTier1}}
                                                        </th>
                                                 </tr>
                                          </tbody>
                                   </table>
                            </div>
                     </div>
              </div>
       </div>

</body>

</html>