<!DOCTYPE html>
<html>

<!-- <link rel="stylesheet" href="/public/css/styles.css"> -->

<!-- #######################
       Bootstrap CSS
############################# -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
       integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


<style>
       .page {
              background: white;
              display: block;
              margin: 0 auto;
              position: relative;
       }

       .page[size="A4"] {
              width: 21cm;
              height: 29.7cm;
              overflow: hidden;
       }

       .bb {
              border-bottom: 1px solid #0d6efd;
       }

       /* Section 1*/
       .top-content {
              padding-bottom: 10px;
       }

       .logo img {
              height: 60px;
       }

       /* Section 2 */
       .company-info table th,
       td {
              text-align: start;
       }

       .company-heading {
              font-size: 20px;
              color: darkcyan;
       }

       .company-subheading {
              font-weight: 500;
       }

       .company-content {
              text-align: end;
       }

       /* Section 3 */
       .list-area thead {
              color: white;
              background: #0d6efd;
       }

       .list-area th,
       td {
              text-align: start;
       }

       .new-list {
              color: red;
       }

       .prepared-name {
              text-transform: uppercase;
       }
</style>

<body style="background: darkgray">
       <div class="my-5 page" size='A4'>
              <div class="p-5">
                     <!-- #############################################
                                          Section 1
                     ############################################## -->
                     <section class="top-content bb d-flex justify-content-between">
                            <!-- <div class="logo">
                                   <img class="img-fluid" src="/public/images/cover.png" alt="Company-logo">
                            </div> -->
                            <div class="top-center">
                                   <p>Payslip</p>
                            </div>
                            <div class="top-left">
                                   <div>
                                          <p class="company-heading">Company Name</p>
                                   </div>
                                   <div class="position-relative">
                                          <p class="address">Company Address</p>
                                   </div>
                            </div>
                     </section>

                     {{#Emp}}
                     <!-- ##################################################
                                          Section 2
                     #################################################### -->
                     <section class="company-info mt-1">
                            <div class="row extra-info pt-1">
                                   <div class="col-12">
                                          <p class="company-heading">Employee Details</p>
                                   </div>
                            </div>
                            <!-- Employee Name & Tin No. -->
                            <div class="row">
                                   <div class="col-3">
                                          <p class="company-subheading">Employee Name</p>
                                   </div>
                                   <div class="col-4">
                                          <p class="company-content">{{Employee_name}}</p>
                                   </div>
                                   <div class="col-2">
                                          <p class="company-subheading">Tin No.</p>

                                   </div>
                                   <div class="col-3">
                                          <p class="company-content">{{Tin_number}}</p>

                                   </div>

                            </div>
                            <!-- Staff Id & Position -->
                            <div class="row">
                                   <div class="col-3">
                                          <p class="company-subheading">Position</p>
                                   </div>
                                   <div class="col-4">
                                          <p class="company-content">{{Position}}</p>
                                   </div>
                                   <div class="col-2">
                                          <p class="company-subheading">Staff ID</p>
                                   </div>
                                   <div class="col-3">
                                          <p class="company-content">{{Staff_id}}</p>
                                   </div>

                            </div>
                            <!-- SSF & Bank Name -->
                            <div class="row">
                                   <div class="col-3">
                                          <p class="company-subheading">Bank Name</p>

                                   </div>
                                   <div class="col-4">
                                          <p class="company-content">{{BankBranch_BankName}}</p>

                                   </div>
                                   <div class="col-2">
                                          <p class="company-subheading">SSF No.</p>

                                   </div>
                                   <div class="col-3">
                                          <p class="company-content">{{SSF_account_number}}</p>

                                   </div>
                            </div>
                            <!-- Bank A/C & Date -->
                            <div class="row">
                                   <div class="col-3">
                                          <p class="company-subheading">Bank A/C No.</p>

                                   </div>
                                   <div class="col-4">
                                          <p class="company-content">{{Bank_account_number}}</p>

                                   </div>
                                   <div class="col-2">
                                          <p class="company-subheading">Date</p>

                                   </div>
                                   {{/Emp}}
                                   <div class="col-3">
                                          <p class="company-content">{{Period}}</p>

                                   </div>
                            </div>
                     </section>
                     {{#Emp}}
                     <!-- ####################################################
                                          Section 3
                     #################################################### -->
                     <section class="list-area mt-3">
                            <!-- Earnings total -->
                            <table class="table">
                                   <thead class="bg-primary">
                                          <tr>
                                                 <td>DESCRIPTION</td>
                                                 <td>EARNINGS</td>
                                                 <td>DEDUCTIONS</td>
                                          </tr>

                                   </thead>
                                   <tbody>
                                          <tr>
                                                 <td>BASIC SALARY</td>
                                                 <td>{{Basic_salary}}</td>
                                                 <td></td>

                                          </tr>
                                          <tr>
                                                 <td>TAXABLE ALLOWANCE</td>
                                                 <td>{{Total_taxable_allowance}}</td>
                                                 <td></td>

                                          </tr>
                                          <tr>
                                                 <td>NON-TAXABLE ALLOWANCE</td>
                                                 <td>{{Non_taxable_allowance}}</td>
                                                 <td></td>

                                          </tr>
                                          <tr>
                                                 <td>PAYE INCOME TAX</td>
                                                 <td></td>
                                                 <td>{{Payee}}</td>

                                          </tr>
                                          <tr>
                                                 <td>SSF(5.5%)</td>
                                                 <td></td>
                                                 <td>{{SSF}}</td>

                                          </tr>
                                          <tr>
                                                 <td>OTHER DEDUCTIONS</td>
                                                 <td></td>
                                                 <td>{{Other_deductions}}</td>

                                          </tr>
                                          {{/Emp}}
                                          <tr>
                                                 <td>TOTAL</td>
                                                 <td>{{totalEarns}}</td>
                                                 <td>{{totalDeductions}}</td>

                                          </tr>
                                   </tbody>
                            </table>


                            <!-- NET PAY total -->
                            <table class="table">
                                   <tbody>
                                          <tr>
                                                 <td class="company-heading">NET PAY (GHC)</td>
                                                 <td class="company-heading">{{netPay}}</td>
                                          </tr>

                                   </tbody>
                            </table>
                     </section>
                     <!-- ##############################################
                                           Section 4
                     ############################################## -->
                     <section class="signature">
                            <!-- Prepared by -->
                            <div class="row">
                                   <div class="col-6">
                                          <p>PREPARED BY;</p>
                                   </div>
                                   <div class="col-6 prepared-name">
                                          <p>{{UserName}}</p>
                                   </div>
                            </div>
                            <!-- DESIGNATION by -->
                            <div class="row">
                                   <div class="col-6">
                                          <p>DESIGNATION BY;</p>
                                   </div>
                                   <div class="col-6">
                                          <p>FINANCIAL MANAGER</p>
                                   </div>
                            </div>
                            <br><br>
                            <!-- STAMP/SIGNATURE by -->
                            <div class="row">
                                   <div class="col-6">
                                          <p>STAMP/SIGNATURE</p>
                                   </div>
                                   <div class="col-6">
                                          <p>___________________________________</p>
                                   </div>
                            </div>
                            <!-- DATE-->
                            <div class="row">
                                   <div class="col-6">
                                          <p>DATE</p>
                                   </div>
                                   <div class="col-6">
                                          <p> {{CurrentDate}}</p>
                                   </div>
                            </div>
                     </section>
              </div>
       </div>
</body>

</html>