<%- include('partials/static_header'); -%>

       <section class="service-section">
              <div class="service-img"></div>
              <div class="container service-items">
                     <div class="service">
                            <h1 class="text-primary">Our Services</h1>
                            <p class="text-white">NEBURAKO is a registered business entity and is made up of team of
                                   Accountants, IT
                                   &
                                   QuickBooks Consultants.</p>
                     </div>

                     <div class="row">
                            <div class=" col-md-6 items text-center">

                                   <div class="icon">
                                          <i class="fas fa-globe-americas text-white"></i>
                                   </div>
                                   <h3 class="text-primary">Training Services</h3>
                                   <p class="text-white">Practical Accounting, Bookkeeping & Payroll Training, Practical
                                          Computer
                                          Networking Training, Point of Sale (POS) Software Implementation & Training,
                                          Inventory Management Software Implementation & Training, Sale of Receipt
                                          Printers, Computers & its Accessories, Computer Networking Solutions
                                   </p>
                            </div>

                            <div class=" col-md-6 items text-center">

                                   <div class="icon">
                                          <i class="fas fa-globe-americas text-white"></i>
                                   </div>
                                   <h3 class="text-primary">Software Services</h3>
                                   <p class="text-white">Payroll Software Solutions, Software Sale, Business Management
                                          Software Solutions,
                                          Small Business ERP Software Solutions, Shop/Store Management Systems, Pharmacy
                                          POS, Sales & Inventory Management Software, Supermarket Point of Sale (POS)
                                          Software, General Point of Sale (POS) Software for All
                                          Businesses, Debtors/Creditors
                                          Management Software Solutions

                                   </p>
                            </div>
                            <div class=" col-md-6 items text-center">
                                   <div class="icon">
                                          <i class="fas fa-chart-line text-white"></i>
                                   </div>
                                   <h3 class="text-primary">Financial Services</h3>
                                   <p class="text-white">Accounting, Bookkeeping, Payroll & Audit Services
                                          QuickBooks
                                   </p>
                            </div>
                     </div>
              </div>
       </section>


       <%- include('partials/static_footer'); -%>