<%- include('partials/header'); -%>

       <div class="bankadvise-section">
              <div class="container-fluid">
                     <div class="row">
                            <div class="col">
                                   <div class="container-fluid px-4 pt-4">
                                          <h5>Tier 1 Returns</h5>
                                   </div>

                                   <!-- #####################################
                                                                      Table
                                                        ####################################### -->
                                   <div class="main-content">
                                          <table class="table">
                                                 <thead>
                                                        <tr>
                                                               <th scope="col">Employee Name</th>
                                                               <th scope="col">SSF Number</th>
                                                               <th scope="col">Basic Salary (Gh₵)</th>
                                                               <th scope="col">Amount (Gh₵)</th>
                                                        </tr>
                                                 </thead>
                                                 <tbody>
                                                        <tr>
                                                               <th scope="row">1</th>
                                                               <td>Mark</td>
                                                               <td>Otto</td>
                                                               <td>@mdo</td>
                                                        </tr>
                                                        <tr>
                                                               <th scope="row">2</th>
                                                               <td>Jacob</td>
                                                               <td>Thornton</td>
                                                               <td>@fat</td>
                                                        </tr>
                                                        <tr>
                                                               <th scope="row">3</th>
                                                               <td colspan="2">Larry the Bird</td>
                                                               <td>@twitter</td>
                                                        </tr>
                                                 </tbody>
                                          </table>

                                   </div>

                            </div>
                     </div>
              </div>
       </div>
       <%- include('partials/footer'); -%>