/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

table,
th {
  text-align: center;
}
.currency {
  font-size: 10px;
}

.search-bar {
  padding: 0 150px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}
.add-overlay {
  display: block;
}

.close-form-btn {
  justify-content: space-between;
}
.opened-form-btn {
  margin-bottom: 5px;
  margin-right: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ############ Navbar ############# */
.navbar img {
  width: 40px;
}
/* .navbar ul li.custom {
  background: red !important;
} */
.navbar ul li a {
  color: white;
}
.navbar ul li a:hover {
  color: rgb(186, 181, 181) !important;
}
.navbar .active {
  color: white !important;
}
.action {
  display: none;
}
@media only screen and (min-width: 993px) {
  .action {
    display: block;
    position: fixed;
    top: 20px;
    right: 0;
    margin-right: 20px;
  }
}
.action .profile {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.action .profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.action .menu {
  position: absolute;
  top: 80px;
  right: -10px;
  padding: 10px 20px;
  background: rgb(221, 221, 221);
  width: 300px;
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.action:hover .menu {
  visibility: visible;
  opacity: 1;
}
.action .menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: rgb(221, 221, 221);
  transform: rotate(45deg);
}
.action .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: rgb(65, 61, 61);
  padding: 20px 0;
  line-height: 1.2em;
}
.action .menu h3 span {
  font-size: 12px;
  text-transform: capitalize;
  text-align: center;
  color: rgb(47, 44, 44);
  font-weight: 400;
}
.action .menu ul li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid #0d6efd;
  display: flex;
  align-items: center;
}
.action .menu ul li i {
  margin-right: 10px;
  color: #69b9ef;
}
.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #0d6efd;
  font-weight: 500;
  transition: 0.5s;
}

/* ################# Dashboard Styling ############################### */
.main-content {
  padding: 20px;
}
.main-content .box {
  background: #f0f3fa;
  padding: 20px;
  border: 0.5px solid black;
  border-radius: 20px;
  margin-bottom: 10px;
}
.main-content .box:hover {
  border-color: #0d6efd;
}
.main-content .box .content-title {
  margin-bottom: 20px;
  text-transform: capitalize;
}
.main-content .box .content-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 700;
}
.main-content .box .content-info i {
  color: #0d6efd;
}
.main-content .f-height {
  height: 80%;
}
@media only screen and (max-width: 700px) {
  .main-content .graph {
    display: none;
  }
}

/* #################### Payroll Styling ################## */
.user-input {
  position: absolute;
  padding: 10px;
  margin: 0 15px;
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 5px;
  height: auto;
  width: 100vw;
  overflow-x: scroll;
  transition: all 1s ease-in;
  visibility: none;
  opacity: 0;
}
.user-input-active {
  position: relative;
  /* transition: all 1s ease-out; */
  visibility: visible;
  opacity: 1;
}

.close-form {
  transition: 0.6s;
  visibility: none;
  opacity: 0;
}
.close-form-active {
  transition: 0.6s;
  visibility: visible;
  opacity: 1;
}
@media only screen and (max-width: 700px) {
  .user-input {
    display: none;
  }
}

.payroll-section .employee-payroll-form .payroll-form-content {
  position: absolute;
  top: 8%;
  left: 5%;
  right: 5%;
  background: #f3f3f3;
  width: 80vw;
  height: 750px;
  z-index: 2;
  padding: 20px;
  transition: 300ms ease-in;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
}
.payroll-section .employee-payroll-form .add-form {
  visibility: visible;
  opacity: 1;
  transition: 300ms ease-in;
}

/* ########## Payslip Styling ######## */
.payslip-section .employee-payslip-form .payslip-form-content {
  position: absolute;
  top: 8%;
  left: 25%;
  right: 25%;
  background: #f3f3f3;
  width: 800px;
  height: 750px;
  z-index: 2;
  padding: 20px;
  transition: 300ms ease-in;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
}
.payslip-section .employee-payslip-form .add-form {
  visibility: visible;
  opacity: 1;
  transition: 300ms ease-in;
}
.payslip-section .employee-payslip-form .payslip-form-view table,
th {
  text-align: start;
}

/* ################### Footer Styling###### */
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
