.company-details {
  .company-info {
    background: url("../images/table-calculator.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  .head {
    //   background: blue;
    border-radius: 5px;
    margin-top: -40px;
  }
}
