/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

table,
th,
td {
  /* text-align: center; */
}
.currency {
  font-size: 10px;
}

.search-bar {
  padding: 0 250px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}
.add-overlay {
  display: block;
}

.close-form-btn {
  justify-content: space-between;
}
.opened-form-btn {
  margin-bottom: 5px;
  margin-right: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.no-data {
  margin-top: 20px;
  position: relative;
  background: red;

  img {
    width: 30%;
    height: 400px;
    position: absolute;
    top: 80%;
    left: 30%;
    // bottom: 50%;
  }
}
