/* #####################################################
                   Payroll Styling 
############################################################## */
.user-input {
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  height: auto;
  overflow-x: scroll;
  transition: all 1s ease-in;
  visibility: hidden;
  opacity: 0;
}
.user-input-active {
  visibility: visible;
  opacity: 1;
  z-index: 5;
}

.close-form {
  transition: 0.6s;
  visibility: none;
  opacity: 0;
  z-index: 4;
}
.close-form-active {
  transition: 0.6s;
  visibility: visible;
  opacity: 1;
}
@media only screen and (max-width: 700px) {
  .user-input {
    display: none;
  }
}

.payroll-section .payroll-table {
  z-index: 3;
}

.payroll-section .employee-payroll-form .payroll-form-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f3f3f3;
  width: 60vw;
  height: 650px;
  z-index: 2;
  padding: 20px;
  transition: 300ms ease-in;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
}
.payroll-section .employee-payroll-form .add-form {
  visibility: visible;
  opacity: 1;
  transition: 300ms ease-in;
}
.payroll-section .employee-payroll-form .payroll-form-view table,
th {
  text-align: start;
  height: 70px;
}
